.menu_img{
    width: 30px;
    height: 40px;
}

.title_img{
    width: 300px;
    height: 150px;
}

.my_menu{
    padding-top: 50px;
}

.parent {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    }

.parent2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    }
        
    .div1 { grid-area: 1 / 1; }
    .div2 { grid-area: 1 / 2; }

.event_img{
    margin-top: 10%;
    margin-left: 30%;

}

.uk-navbar-dropdown-width-10:not(.uk-navbar-dropdown-stack) {
    width: 100%;
}

.conten_img{
    width: 434px;
}
.conten_img .event_img{
    width: 434px;
    height: 550px;
}


.submain_list{
    position: absolute;
    left: 420px;
    top: 1765px;
}

.submenu_list{
    list-style: none;
}

.submenu_li{
    margin: 10px;
    float: left;
    box-shadow: 5px 5px 5px gray;
    width: 280px;
    height: 430px;
    background-color: white;
}
.submain_word{
    position: relative;
    right : 347px;
    bottom: 464px;
    text-align: center;
    width: 1200px;
    
    
}

.tit{
    color: white;
    text-align: left;
    font-size: 20px;
    text-shadow: 3px 3px 3px gray ;    
}

.label_txt{
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 262px;
    height: 35px;
    margin: 9px;
    margin-left: 90px;
    display: inline-block;
    
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;


}

#topMenu {
    height: 30px;
    margin-left: 250px;
    margin-right: 100px;
    font-size: 70px;

  }
  
  #topMenu ul {
    /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  #topMenu ul li {
    /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
    color: rgb(255, 253, 253);
    background-color: #ffffff;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }
  
  .menuLink,
  .submenuLink {
    /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .menuLink {
    /* 상위 메뉴의 글씨색을 흰색으로 설정 */
    color: rgb(0, 0, 0);
  }
  
  .topMenuLi:hover .menuLink {
    /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
    color: rgb(110, 26, 245);
    text-decoration: overline;
    text-decoration-color: rgb(110, 26, 245);
    text-decoration-thickness: 2px;
    /* background-color: #ffffff; */
  }
  
  .longLink {
    /* 좀 더 긴 메뉴 스타일 설정 */
    width: 190px;
  }
  
  .submenuLink {
    /* 하위 메뉴의 a 태그 스타일 설정 */
    color: #2d2d2d;
    background-color: white;
    /* border: solid 1px black; */
    margin-right: -1px;
    /* [변경] 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
  }
  
  .submenu {
    /* 하위 메뉴 스타일 설정 */
    position: absolute;
    z-index: 1;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    width: 1000px;
    /* [변경] 가로 드랍다운 메뉴의 넓이 - 하위메뉴의 숫자를 늘리고 width의 숫자를 조정해야 된다. */
  }
  
  .submenu li {
    display: inline-block;
    /* [변경] 가로로 펼쳐지도록 설정 */
  }
  
  .topMenuLi:hover .submenu {
    /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
    height: 32px;
    /* [변경] 높이를 32px로 설정 */
  }
  
  .submenuLink:hover {
    /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
    color: red;
    background-color: #dddddd;
    width: 100%;
  }